Sales/Outlook_Ingestion.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "e8415146-3105-318f-841a-f0b7b02737c3",
            "instanceIdentifier" : "0182101f-8602-112f-f0d5-60afaa62da03",
            "name" : "QueryRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "f9117bf5-e4fd-3871-aabe-d0c3b7d3cafe",
          "instanceIdentifier" : "86021130-101f-1182-c888-c9518b9d0e3e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "attachments" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "b2dd5e7e-b4e9-34f3-b581-4501c3bfc7a1",
            "instanceIdentifier" : "113098d4-0182-1000-a0b5-6e2740f818d2",
            "name" : "ExtractEmailAttachments",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "78ecad25-5d50-3124-a578-0feca24de006",
            "instanceIdentifier" : "0182101a-8602-112f-b669-e1eb37fddd38",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "2246e099-dab2-3edd-8241-a3a5d869414b",
          "instanceIdentifier" : "0182100f-8602-112f-4c17-3f08319d34bc",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "723f9391-310a-344b-aecd-654b712cde3e",
            "instanceIdentifier" : "01821003-8602-112f-2cb0-fbcbd3f324a6",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "910a8b45-2408-3378-9ae6-0f68e04cc50d",
            "instanceIdentifier" : "86021139-1030-1182-7f25-5334cd0c38f5",
            "name" : "ConvertExcelToCSVProcessor",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "cb45e310-0058-3510-999b-83e942a5448f",
          "instanceIdentifier" : "01821006-98d4-1130-d538-34bf15d2062d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "attachments" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "27606bda-8bed-3fdf-8cbc-7e26341b5407",
            "instanceIdentifier" : "01821000-98d4-1130-f2ca-d45afc84ef87",
            "name" : "ExtractEmailAttachments",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "723f9391-310a-344b-aecd-654b712cde3e",
            "instanceIdentifier" : "01821003-8602-112f-2cb0-fbcbd3f324a6",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "bdce6bb1-c031-39d2-88d1-e321c817fe10",
          "instanceIdentifier" : "01821012-8602-112f-4ee5-e6e9ecc32b1b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "attachments" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "b2dd5e7e-b4e9-34f3-b581-4501c3bfc7a1",
            "instanceIdentifier" : "113098d4-0182-1000-a0b5-6e2740f818d2",
            "name" : "ExtractEmailAttachments",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "9d1d5a50-eca4-37b4-b2c2-3d97767e28e8",
            "instanceIdentifier" : "8602112f-1030-1182-1fa3-0b96e4a89934",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "11533dea-c844-3a42-949a-fa7c37aeb3bb",
          "instanceIdentifier" : "86021131-1030-1182-d462-47ba6cc85255",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Null" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "e8415146-3105-318f-841a-f0b7b02737c3",
            "instanceIdentifier" : "0182101f-8602-112f-f0d5-60afaa62da03",
            "name" : "QueryRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "a53c2523-78da-3221-8bd2-8f17db25be32",
            "instanceIdentifier" : "0182100e-8602-112f-3358-69f8624fcf61",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "735c56be-52b6-32c2-b0f5-7f92c4b8f15c",
          "instanceIdentifier" : "0182101d-8602-112f-2537-46f2a7130798",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "78ecad25-5d50-3124-a578-0feca24de006",
            "instanceIdentifier" : "0182101a-8602-112f-b669-e1eb37fddd38",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "e8415146-3105-318f-841a-f0b7b02737c3",
            "instanceIdentifier" : "0182101f-8602-112f-f0d5-60afaa62da03",
            "name" : "QueryRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "be3959c6-5e60-3347-a042-f9986819545a",
          "instanceIdentifier" : "1549256c-0182-1000-3f49-5c2a6462864f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "attachments" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "b2dd5e7e-b4e9-34f3-b581-4501c3bfc7a1",
            "instanceIdentifier" : "113098d4-0182-1000-a0b5-6e2740f818d2",
            "name" : "ExtractEmailAttachments",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "723f9391-310a-344b-aecd-654b712cde3e",
            "instanceIdentifier" : "01821003-8602-112f-2cb0-fbcbd3f324a6",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "b8cd6b50-d686-3ab0-b913-1a0eed48955c",
          "instanceIdentifier" : "01821007-8602-112f-ddd2-d811e926a023",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "attachments" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "b2dd5e7e-b4e9-34f3-b581-4501c3bfc7a1",
            "instanceIdentifier" : "113098d4-0182-1000-a0b5-6e2740f818d2",
            "name" : "ExtractEmailAttachments",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "30c45b70-c529-3947-adf0-1dde7f1b8a72",
            "instanceIdentifier" : "01821008-98d4-1130-fbc3-259fc463a290",
            "name" : "QueryRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "bff3edaa-37d9-34e3-a018-3a0ee0ba2b46",
          "instanceIdentifier" : "01821009-98d4-1130-a3d7-0e020851eafd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "910a8b45-2408-3378-9ae6-0f68e04cc50d",
            "instanceIdentifier" : "86021139-1030-1182-7f25-5334cd0c38f5",
            "name" : "ConvertExcelToCSVProcessor",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "13342a14-f4c3-37ce-b777-2572447a1beb",
            "instanceIdentifier" : "0182104c-98d4-1130-c51d-ea32fa23f15d",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "65014824-94ee-34bf-aeb3-d30ef15fcd2b",
          "instanceIdentifier" : "98d4114d-104c-1182-ffd4-f2b72465a763",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "27ff7403-801d-334d-880d-3c76e987ae29",
            "instanceIdentifier" : "98d41155-1048-1182-d40d-87435c2b12fd",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "27606bda-8bed-3fdf-8cbc-7e26341b5407",
            "instanceIdentifier" : "01821000-98d4-1130-f2ca-d45afc84ef87",
            "name" : "ExtractEmailAttachments",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "1ddf0499-773b-3b1e-8fc3-2bd066bf8510",
          "instanceIdentifier" : "01821039-98d4-1130-fdc1-3f5fb130b148",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "guala_check" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "354dd03e-78d1-3913-854d-b505d7200bd8",
            "instanceIdentifier" : "0182102e-98d4-1130-5cbb-d35e92c89f8f",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "27ff7403-801d-334d-880d-3c76e987ae29",
            "instanceIdentifier" : "98d41155-1048-1182-d40d-87435c2b12fd",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "c2784b75-d8a8-39f7-b4eb-f79cf8cc6392",
          "instanceIdentifier" : "98d41156-1048-1182-4b49-a3e7c1be950b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "354dd03e-78d1-3913-854d-b505d7200bd8",
            "instanceIdentifier" : "0182102e-98d4-1130-5cbb-d35e92c89f8f",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "c69d45e8-56c6-3e62-b434-8096e46bff15",
            "instanceIdentifier" : "0182102a-8602-112f-5334-dd9e008899f0",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "1725e464-ea31-31c7-91c3-b687e45c5589",
          "instanceIdentifier" : "01821034-8602-112f-5e92-f09d7eb0d3ef",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "7c3f37e7-ff5d-39d4-9750-920d08a6bf08",
            "instanceIdentifier" : "01821030-8602-112f-2ec9-0ce90ee6695d",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "723f9391-310a-344b-aecd-654b712cde3e",
            "instanceIdentifier" : "01821003-8602-112f-2cb0-fbcbd3f324a6",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "ea67cbe0-60f3-396d-aa10-ba781b4d59c1",
          "instanceIdentifier" : "1546c5a1-0182-1000-a5c7-c90b3006b048",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "attachments" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "b2dd5e7e-b4e9-34f3-b581-4501c3bfc7a1",
            "instanceIdentifier" : "113098d4-0182-1000-a0b5-6e2740f818d2",
            "name" : "ExtractEmailAttachments",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "2f0501ab-55f7-3cdd-8f8d-00b1cf8b94ed",
            "instanceIdentifier" : "0182100f-98d4-1130-374f-4948c4eb59c3",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "06dd80df-ed71-39a2-8ded-d532cef8b3a8",
          "instanceIdentifier" : "01821011-98d4-1130-560a-ec54941bec4b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Null" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "30c45b70-c529-3947-adf0-1dde7f1b8a72",
            "instanceIdentifier" : "01821008-98d4-1130-fbc3-259fc463a290",
            "name" : "QueryRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "5fb7a407-3002-39e5-ae02-5deac563851a",
            "instanceIdentifier" : "01821028-8602-112f-1a49-abedfe9d0161",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "18ac1d26-5a34-3d32-9d45-5e8deb566537",
          "instanceIdentifier" : "01821033-8602-112f-f7cd-9d18ca1f9c31",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "fd3c47f8-1a32-3488-a40e-d273a5596b96",
            "instanceIdentifier" : "0182102e-8602-112f-7f6f-cb29a13f1e9a",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "7c3f37e7-ff5d-39d4-9750-920d08a6bf08",
            "instanceIdentifier" : "01821030-8602-112f-2ec9-0ce90ee6695d",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "4ee927e7-90d3-3332-b635-f172a207684b",
          "instanceIdentifier" : "01821032-8602-112f-75d0-1be63b23c77c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "notNulls" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "e8415146-3105-318f-841a-f0b7b02737c3",
            "instanceIdentifier" : "0182101f-8602-112f-f0d5-60afaa62da03",
            "name" : "QueryRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "28f69487-4cfa-3294-8a33-89e623672cb1",
            "instanceIdentifier" : "0182104b-98d4-1130-fd64-3ed21e3ba2d2",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "050b7486-da3c-315d-8ec9-d5a27007dc96",
          "instanceIdentifier" : "0182104e-98d4-1130-fdc7-042a9e02e581",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "13342a14-f4c3-37ce-b777-2572447a1beb",
            "instanceIdentifier" : "0182104c-98d4-1130-c51d-ea32fa23f15d",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "fbe367da-49df-36b9-b0ce-b1b38c64b7fe",
            "instanceIdentifier" : "0182103c-8602-112f-f630-1ba98910c490",
            "name" : "ValidateCsv",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "66595847-9505-3747-adc5-f60a15071673",
          "instanceIdentifier" : "1546f2e4-0182-1000-9d2c-ebad5833f085",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "9e4a4851-ca38-38ed-8f7c-4bfcf77c0c56",
            "instanceIdentifier" : "01821036-8602-112f-728b-c5bd0bacb78c",
            "name" : "AttributesToCSV",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "2c6c225f-7423-3735-b71e-e5c3b022d0b2",
            "instanceIdentifier" : "0182100d-98d4-1130-9d50-fa0389918842",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "4e8436dd-7354-394d-a215-9c5d559f809b",
          "instanceIdentifier" : "01821017-98d4-1130-f8e7-e336956e6a5a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "NotNull" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "30c45b70-c529-3947-adf0-1dde7f1b8a72",
            "instanceIdentifier" : "01821008-98d4-1130-fbc3-259fc463a290",
            "name" : "QueryRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "b2dd5e7e-b4e9-34f3-b581-4501c3bfc7a1",
            "instanceIdentifier" : "113098d4-0182-1000-a0b5-6e2740f818d2",
            "name" : "ExtractEmailAttachments",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "a6bcf952-716d-3cdc-b37e-95426128150d",
          "instanceIdentifier" : "1130e220-0182-1000-a5b5-5bf8fe10665c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "299bcd60-994b-3269-bf2c-658fe55fe0c3",
            "instanceIdentifier" : "112c8d45-0182-1000-2897-cec465367ac7",
            "name" : "ConsumeIMAP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "d3f838da-39d1-3aa5-954e-c7251bcb94f2",
            "instanceIdentifier" : "1130c418-0182-1000-7a96-498ca1d833f6",
            "name" : "ExtractEmailHeaders",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "abf3c5a6-9fa6-374d-937c-e527851abe96",
          "instanceIdentifier" : "1130eef5-0182-1000-c811-e2d72f8f7923",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "299bcd60-994b-3269-bf2c-658fe55fe0c3",
            "instanceIdentifier" : "112c8d45-0182-1000-2897-cec465367ac7",
            "name" : "ConsumeIMAP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "354dd03e-78d1-3913-854d-b505d7200bd8",
            "instanceIdentifier" : "0182102e-98d4-1130-5cbb-d35e92c89f8f",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "ff464577-01bc-31c6-9431-37a5c629e674",
          "instanceIdentifier" : "0182103b-98d4-1130-c1ab-0942bc9152dc",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "27b55c59-c645-37c1-8868-29bc9762b92d",
            "id" : "d3f838da-39d1-3aa5-954e-c7251bcb94f2",
            "instanceIdentifier" : "1130c418-0182-1000-7a96-498ca1d833f6",
            "name" : "ExtractEmailHeaders",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "a3a0d9e1-b82b-3301-bb95-b21a6dee3ac9",
          "instanceIdentifier" : "01821022-8602-112f-a10a-cf390cf103cd",
          "name" : "CSVRecordSetWriter",
          "properties" : {
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "Include Header Line" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "Schema Write Strategy" : "no-schema",
            "Trim Fields" : "true",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "${avro.schema}",
            "Quote Mode" : "MINIMAL",
            "Include Trailing Delimiter" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "Include Header Line" : {
              "displayName" : "Include Header Line",
              "identifiesControllerService" : false,
              "name" : "Include Header Line",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Quote Mode" : {
              "displayName" : "Quote Mode",
              "identifiesControllerService" : false,
              "name" : "Quote Mode",
              "sensitive" : false
            },
            "Include Trailing Delimiter" : {
              "displayName" : "Include Trailing Delimiter",
              "identifiesControllerService" : false,
              "name" : "Include Trailing Delimiter",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.csv.CSVRecordSetWriter"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "1168ab33-02db-32d5-9762-57ec07bc6751",
          "instanceIdentifier" : "01821021-8602-112f-383c-0d4f228a592c",
          "name" : "CSVReader",
          "properties" : {
            "ignore-csv-header" : "false",
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "csvutils-allow-duplicate-header-names" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "Skip Header Line" : "true",
            "Trim Fields" : "true",
            "schema-name" : "${schema.name}",
            "csv-reader-csv-parser" : "commons-csv",
            "schema-access-strategy" : "infer-schema",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "ignore-csv-header" : {
              "displayName" : "Ignore CSV Header Column Names",
              "identifiesControllerService" : false,
              "name" : "ignore-csv-header",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "csvutils-allow-duplicate-header-names" : {
              "displayName" : "Allow Duplicate Header Names",
              "identifiesControllerService" : false,
              "name" : "csvutils-allow-duplicate-header-names",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Skip Header Line" : {
              "displayName" : "Treat First Line as Header",
              "identifiesControllerService" : false,
              "name" : "Skip Header Line",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "csv-reader-csv-parser" : {
              "displayName" : "CSV Parser",
              "identifiesControllerService" : false,
              "name" : "csv-reader-csv-parser",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.csv.CSVReader"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
        "inputPorts" : [ ],
        "instanceIdentifier" : "111efe68-0182-1000-c4bd-81318d204979",
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 32.0,
          "identifier" : "d151efdb-dae8-3e7f-b9d1-6e78240913fd",
          "instanceIdentifier" : "01821053-98d4-1130-aeab-8bb697317642",
          "label" : "Take email adress \n",
          "position" : {
            "x" : 1056.0,
            "y" : -1376.0
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 192.0,
          "zIndex" : 4
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 32.0,
          "identifier" : "f936bcad-1bcc-3ff5-acde-6c99820f301d",
          "instanceIdentifier" : "01821000-8602-112f-d6f9-3bc30d21d869",
          "label" : "Get Csv from Controller",
          "position" : {
            "x" : -3160.0,
            "y" : -496.0
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 232.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 32.0,
          "identifier" : "fdce7ef3-2510-3b44-a5a8-52f327cbfba8",
          "instanceIdentifier" : "0182100a-8602-112f-add2-8e7b13f1c77e",
          "label" : "Take only name file\n",
          "position" : {
            "x" : -2408.0,
            "y" : -208.0
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 192.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 32.0,
          "identifier" : "680326e4-ed51-396d-888f-c6a03b04dd45",
          "instanceIdentifier" : "01821050-98d4-1130-a05f-3612cf44a3d0",
          "label" : "Save Data in a folder",
          "position" : {
            "x" : 1608.0,
            "y" : -1928.0
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 200.0,
          "zIndex" : 2
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 344.0,
          "identifier" : "142e1e7d-ff54-303e-bb0f-819f84d5f2ae",
          "instanceIdentifier" : "0182100b-98d4-1130-80fb-bb41a1b84bd7",
          "label" : "Check  NULL and NOT NULL on Customer column \nand renaming Columns\n",
          "position" : {
            "x" : 2400.0,
            "y" : -872.0
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 776.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 32.0,
          "identifier" : "50632dae-8ea1-37b2-8183-01216ccd0717",
          "instanceIdentifier" : "01821014-8602-112f-318f-c700ace621b0",
          "label" : "Save Data in a folder",
          "position" : {
            "x" : -352.0,
            "y" : 680.0
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 200.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 32.0,
          "identifier" : "9ce1583c-d670-3ce1-a5aa-22e206328533",
          "instanceIdentifier" : "0182104a-98d4-1130-4ce5-1fa8dd56272f",
          "label" : "Get now date and renaming\n",
          "position" : {
            "x" : 888.0,
            "y" : -1920.0
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 280.0,
          "zIndex" : 3
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 664.0,
          "identifier" : "f740f5c9-0668-33da-9362-b7a38ea047c0",
          "instanceIdentifier" : "01821055-98d4-1130-9bc0-453afabcf765",
          "label" : "Save Mail in not Accepted",
          "position" : {
            "x" : 856.0,
            "y" : -1976.0
          },
          "style" : {
            "background-color" : "#dbdbdb",
            "font-size" : "22px"
          },
          "width" : 1680.0,
          "zIndex" : 1
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 32.0,
          "identifier" : "b43f4232-b739-370b-9c49-c0481b7e1117",
          "instanceIdentifier" : "0182101c-8602-112f-7499-2fbd8ffa6671",
          "label" : "Get now date and renaming\n",
          "position" : {
            "x" : -1816.0,
            "y" : -184.0
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 280.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 32.0,
          "identifier" : "d6dc064e-08d0-3f49-92db-0f5f31760d40",
          "instanceIdentifier" : "0182100c-8602-112f-b811-8a13c1a84b3a",
          "label" : "Save Data in a folder",
          "position" : {
            "x" : -1104.0,
            "y" : -192.0
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 200.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 240.0,
          "identifier" : "e2c8f170-e2f4-3392-8cbc-a5ef29e8d475",
          "instanceIdentifier" : "01821004-98d4-1130-5270-d81740936233",
          "label" : "Trasform Excel in Csv",
          "position" : {
            "x" : 1648.0,
            "y" : -816.0
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 672.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 40.0,
          "identifier" : "48a67411-6a4a-3d1b-b796-37301e9a8a05",
          "instanceIdentifier" : "8602112f-102c-1182-a212-4a768cc97d65",
          "label" : "Check  NULL and NOT NULL on Customer column\n",
          "position" : {
            "x" : -2768.0,
            "y" : -1000.0
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 472.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 32.0,
          "identifier" : "91f16bc4-2a83-3bf9-af48-e12b02d49cc5",
          "instanceIdentifier" : "01821002-8602-112f-ba33-db810e819b4c",
          "label" : "Get Information Who sent data",
          "position" : {
            "x" : -144.0,
            "y" : -1136.0
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 312.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 40.0,
          "identifier" : "ee733c5a-c05f-3447-ab3f-020313dcf25a",
          "instanceIdentifier" : "112f8602-0182-1000-d758-c0998e185a67",
          "label" : "Get Email from address-controller",
          "position" : {
            "x" : -784.0,
            "y" : -1144.0
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 328.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 32.0,
          "identifier" : "ded4135a-cc07-36f4-aaa3-e51d45165e8b",
          "instanceIdentifier" : "01821041-98d4-1130-7d2e-99576284320d",
          "label" : "Check who is sending email",
          "position" : {
            "x" : 520.0,
            "y" : -1136.0
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 296.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 32.0,
          "identifier" : "435efacf-9351-3595-ab5f-ce032a2f6ca1",
          "instanceIdentifier" : "0182103a-8602-112f-ca2d-d37af56e0759",
          "label" : "IDEE",
          "position" : {
            "x" : -160.0,
            "y" : 152.0
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 72.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 32.0,
          "identifier" : "1851ca1e-ebea-3c25-b9bf-1c02159201c6",
          "instanceIdentifier" : "01821002-98d4-1130-1864-48e50084e555",
          "label" : "Get Excel from Controller",
          "position" : {
            "x" : 1072.0,
            "y" : -800.0
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 264.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "height" : 64.0,
          "identifier" : "743fb357-adb2-3c58-bd49-13211cc585c4",
          "instanceIdentifier" : "0182103f-98d4-1130-9640-e643a4c2466a",
          "label" : "Send mail if sender is not gualaclosures.com \nERROR CHECK IF FIREWALL BLOCK IT\n",
          "position" : {
            "x" : 2088.0,
            "y" : -1840.0
          },
          "style" : {
            "font-size" : "20px"
          },
          "width" : 424.0,
          "zIndex" : 5
        } ],
        "name" : "Outlook Ingestion",
        "outputPorts" : [ ],
        "position" : {
          "x" : -1744.0,
          "y" : -736.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-poi-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "910a8b45-2408-3378-9ae6-0f68e04cc50d",
          "instanceIdentifier" : "86021139-1030-1182-7f25-5334cd0c38f5",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertExcelToCSVProcessor",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1688.0,
            "y" : -760.0
          },
          "properties" : {
            "excel-extract-first-row" : "0",
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "Include Header Line" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "extract-sheets" : "Sales_Reporting",
            "excel-format-values" : "true",
            "Trim Fields" : "false",
            "Quote Mode" : "NONE",
            "Include Trailing Delimiter" : "false"
          },
          "propertyDescriptors" : {
            "excel-extract-first-row" : {
              "displayName" : "Number of Rows to Skip",
              "identifiesControllerService" : false,
              "name" : "excel-extract-first-row",
              "sensitive" : false
            },
            "excel-extract-column-to-skip" : {
              "displayName" : "Columns To Skip",
              "identifiesControllerService" : false,
              "name" : "excel-extract-column-to-skip",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "Include Header Line" : {
              "displayName" : "Include Header Line",
              "identifiesControllerService" : false,
              "name" : "Include Header Line",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "extract-sheets" : {
              "displayName" : "Sheets to Extract",
              "identifiesControllerService" : false,
              "name" : "extract-sheets",
              "sensitive" : false
            },
            "excel-format-values" : {
              "displayName" : "Format Cell Values",
              "identifiesControllerService" : false,
              "name" : "excel-format-values",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "Quote Mode" : {
              "displayName" : "Quote Mode",
              "identifiesControllerService" : false,
              "name" : "Quote Mode",
              "sensitive" : false
            },
            "Include Trailing Delimiter" : {
              "displayName" : "Include Trailing Delimiter",
              "identifiesControllerService" : false,
              "name" : "Include Trailing Delimiter",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.poi.ConvertExcelToCSVProcessor",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "30c45b70-c529-3947-adf0-1dde7f1b8a72",
          "instanceIdentifier" : "01821008-98d4-1130-fbc3-259fc463a290",
          "maxBackoffPeriod" : "10 mins",
          "name" : "QueryRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2416.0,
            "y" : -760.0
          },
          "properties" : {
            "cache-schema" : "false",
            "dbf-default-precision" : "10",
            "Null" : "SELECT \"Month\" as \"month\",\n\t   \"Customer\" \"customer\",\n\t   \"Part_Number\" \"part_number\",\n\t   \"Product Description\" \"product_description\",\n\t   \"Size\" \"size\",\n\t   \"Insert / Liner\" \"insert_liner\",\n\t   \"Brand\" \"brand\",\n\t   \"Group\" \"group\",\n\t   \"Incoterms\" \"incoterms\",\n\t   \"Payment Terms\" \"payment_terms\",\n\t   \"Shipment Country\" \"shipment_country\",\n\t   \"Safety /Roll On / Luxury / Other\" \"safety_rollon_etc\",\n\t   \"END USE\" \"end_use\",\n\t   \"Hyperion Account\" \"hyperion_account\",\n\t   \"Invoice Currency\" \"invoice_currency\",\n\t   \"Local Currency (Currency)\" \"local_currency\",\n\t   \"Quantity /000\" \"quantity/000\",\n\t   \"Price Inv. Curr. /1000Pcs\" \"price_invoice_currency/000\",\n\t   \"Amount Invoice Currency /000\" \"amount_invoice_currency\",\n\t   \"Amount Local Currency /000\" \"amount_local_currency\",\n\t   \"ICC BACARDI (10 digit code that begins with 811)\" \"icc_bacardi\",\n\t   \"Production Plant\" \"production_plant\",\n\t   \"Extension Line\" \"extension_line\",\n\t   \"Invoicing Plant\" \"invoicing_plant\",\n\t   \"Production Plants:\" \"production_plants\" \n\t   FROM FLOWFILE \n\t   WHERE part_number is null",
            "record-writer" : "a3a0d9e1-b82b-3301-bb95-b21a6dee3ac9",
            "record-reader" : "1168ab33-02db-32d5-9762-57ec07bc6751",
            "include-zero-record-flowfiles" : "true",
            "NotNull" : "SELECT \"Month\" as \"month\",\n\t   \"Customer\" \"customer\",\n\t   \"Part_Number\" \"part_number\",\n\t   \"Product Description\" \"product_description\",\n\t   \"Size\" \"size\",\n\t   \"Insert / Liner\" \"insert_liner\",\n\t   \"Brand\" \"brand\",\n\t   \"Group\" \"group\",\n\t   \"Incoterms\" \"incoterms\",\n\t   \"Payment Terms\" \"payment_terms\",\n\t   \"Shipment Country\" \"shipment_country\",\n\t   \"Safety /Roll On / Luxury / Other\" \"safety_rollon_etc\",\n\t   \"END USE\" \"end_use\",\n\t   \"Hyperion Account\" \"hyperion_account\",\n\t   \"Invoice Currency\" \"invoice_currency\",\n\t   \"Local Currency (Currency)\" \"local_currency\",\n\t   \"Quantity /000\" \"quantity/000\",\n\t   \"Price Inv. Curr. /1000Pcs\" \"price_invoice_currency/000\",\n\t   \"Amount Invoice Currency /000\" \"amount_invoice_currency\",\n\t   \"Amount Local Currency /000\" \"amount_local_currency\",\n\t   \"ICC BACARDI (10 digit code that begins with 811)\" \"icc_bacardi\",\n\t   \"Production Plant\" \"production_plant\",\n\t   \"Extension Line\" \"extension_line\",\n\t   \"Invoicing Plant\" \"invoicing_plant\",\n\t   \"Production Plants:\" \"production_plants\" \n\t   FROM FLOWFILE \n\t   WHERE part_number is not null",
            "dbf-default-scale" : "0"
          },
          "propertyDescriptors" : {
            "cache-schema" : {
              "displayName" : "Cache Schema",
              "identifiesControllerService" : false,
              "name" : "cache-schema",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Null" : {
              "displayName" : "Null",
              "identifiesControllerService" : false,
              "name" : "Null",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "include-zero-record-flowfiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "identifiesControllerService" : false,
              "name" : "include-zero-record-flowfiles",
              "sensitive" : false
            },
            "NotNull" : {
              "displayName" : "NotNull",
              "identifiesControllerService" : false,
              "name" : "NotNull",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.QueryRecord",
          "yieldDuration" : "1 min"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "c69d45e8-56c6-3e62-b434-8096e46bff15",
          "instanceIdentifier" : "0182102a-8602-112f-5334-dd9e008899f0",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1856.0,
            "y" : -1432.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Permissions" : "777",
            "Directory" : "./ls-target",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 min"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "28f69487-4cfa-3294-8a33-89e623672cb1",
          "instanceIdentifier" : "0182104b-98d4-1130-fd64-3ed21e3ba2d2",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1608.0,
            "y" : -1888.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Permissions" : "777",
            "Directory" : "./ls-target/email_error",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 min"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "9e4a4851-ca38-38ed-8f7c-4bfcf77c0c56",
          "instanceIdentifier" : "01821036-8602-112f-728b-c5bd0bacb78c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "AttributesToCSV",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -336.0,
            "y" : 224.0
          },
          "properties" : {
            "null-value" : "true",
            "include-core-attributes" : "true",
            "attributes-regex" : "${month},${customer},${part_number},${product_description},${size},${insert_liner},${brand},${group},${incoterms},${payment_terms},${shipment_country},${description_tap},${end_use},${hyperion_account},${invoice_currency},${local_currency},${quantity},${price_invoice_currency},${amount_invoice},${amount_local},${icc_bacardi},${production_plant},${extension_line},${invoice_plant}",
            "destination" : "flowfile-attribute",
            "include-schema" : "true",
            "attribute-list" : "Month,Customer,Part Number,Product Description,Size,Insert / Liner,Brand,Group,Incoterms,Payment Terms,Shipment Country,Safety /Roll On / Luxury / Other,END USE,Hyperion Account,Invoice Currency,Local Currency (Currency),Quantity /000,Price Inv. Curr. /1000Pcs,Amount Invoice Currency /000,Amount Local Currency /000,ICC BACARDI (10 digit code that begins with 811),Production Plant,Extension Line,Invoicing Plant"
          },
          "propertyDescriptors" : {
            "null-value" : {
              "displayName" : "Null Value",
              "identifiesControllerService" : false,
              "name" : "null-value",
              "sensitive" : false
            },
            "include-core-attributes" : {
              "displayName" : "Include Core Attributes",
              "identifiesControllerService" : false,
              "name" : "include-core-attributes",
              "sensitive" : false
            },
            "attributes-regex" : {
              "displayName" : "Attributes Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-regex",
              "sensitive" : false
            },
            "destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "destination",
              "sensitive" : false
            },
            "include-schema" : {
              "displayName" : "Include Schema",
              "identifiesControllerService" : false,
              "name" : "include-schema",
              "sensitive" : false
            },
            "attribute-list" : {
              "displayName" : "Attribute List",
              "identifiesControllerService" : false,
              "name" : "attribute-list",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.AttributesToCSV",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-email-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "27606bda-8bed-3fdf-8cbc-7e26341b5407",
          "instanceIdentifier" : "01821000-98d4-1130-f2ca-d45afc84ef87",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExtractEmailAttachments",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 976.0,
            "y" : -760.0
          },
          "properties" : { },
          "propertyDescriptors" : { },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.email.ExtractEmailAttachments",
          "yieldDuration" : "1 min"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-stateful-analysis-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "da965f0f-60bb-31a8-9e0b-fa10d82c1a9a",
          "instanceIdentifier" : "1bbca21e-0182-1000-0410-a375524c96fc",
          "maxBackoffPeriod" : "10 mins",
          "name" : "AttributeRollingWindow",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 112.0,
            "y" : -368.0
          },
          "properties" : { },
          "propertyDescriptors" : {
            "Value to track" : {
              "displayName" : "Value to track",
              "identifiesControllerService" : false,
              "name" : "Value to track",
              "sensitive" : false
            },
            "Time window" : {
              "displayName" : "Time window",
              "identifiesControllerService" : false,
              "name" : "Time window",
              "sensitive" : false
            },
            "Sub-window length" : {
              "displayName" : "Sub-window length",
              "identifiesControllerService" : false,
              "name" : "Sub-window length",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.stateful.analysis.AttributeRollingWindow",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "a53c2523-78da-3221-8bd2-8f17db25be32",
          "instanceIdentifier" : "0182100e-8602-112f-3358-69f8624fcf61",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1104.0,
            "y" : -152.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Permissions" : "777",
            "Directory" : "./ls-target",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 min"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "78ecad25-5d50-3124-a578-0feca24de006",
          "instanceIdentifier" : "0182101a-8602-112f-b669-e1eb37fddd38",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1816.0,
            "y" : -144.0
          },
          "properties" : {
            "filename" : "${filename}_${now():toNumber():format('dd_MM_yyyy_hh:mm:ss')}.csv",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 min"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "e8415146-3105-318f-841a-f0b7b02737c3",
          "instanceIdentifier" : "0182101f-8602-112f-f0d5-60afaa62da03",
          "maxBackoffPeriod" : "10 mins",
          "name" : "QueryRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -2760.0,
            "y" : -944.0
          },
          "properties" : {
            "notNulls" : "SELECT * FROM FLOWFILE where Customer is not null",
            "cache-schema" : "true",
            "dbf-default-precision" : "10",
            "Null" : "SELECT * FROM FLOWFILE where Customer is null",
            "record-writer" : "a3a0d9e1-b82b-3301-bb95-b21a6dee3ac9",
            "record-reader" : "1168ab33-02db-32d5-9762-57ec07bc6751",
            "include-zero-record-flowfiles" : "true",
            "dbf-default-scale" : "0"
          },
          "propertyDescriptors" : {
            "notNulls" : {
              "displayName" : "notNulls",
              "identifiesControllerService" : false,
              "name" : "notNulls",
              "sensitive" : false
            },
            "cache-schema" : {
              "displayName" : "Cache Schema",
              "identifiesControllerService" : false,
              "name" : "cache-schema",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Null" : {
              "displayName" : "Null",
              "identifiesControllerService" : false,
              "name" : "Null",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "include-zero-record-flowfiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "identifiesControllerService" : false,
              "name" : "include-zero-record-flowfiles",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.QueryRecord",
          "yieldDuration" : "1 min"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "251785e8-175f-353f-8154-222ad90d057d",
          "instanceIdentifier" : "01821011-8602-112f-13df-b654de7a9d1e",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -352.0,
            "y" : 720.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "./ls-target",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "2c6c225f-7423-3735-b71e-e5c3b022d0b2",
          "instanceIdentifier" : "0182100d-98d4-1130-9d50-fa0389918842",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3336.0,
            "y" : -1056.0
          },
          "properties" : {
            "filename" : "${filename}_${now():toNumber():format('dd_MM_yyyy_hh:mm:ss')}.csv",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 min"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "9d1d5a50-eca4-37b4-b2c2-3d97767e28e8",
          "instanceIdentifier" : "8602112f-1030-1182-1fa3-0b96e4a89934",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1800.0,
            "y" : -1104.0
          },
          "properties" : {
            "filename" : "${filename}_${now():toNumber():format('dd_MM_yyyy_hh:mm:ss')}.csv",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 min"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "2f0501ab-55f7-3cdd-8f8d-00b1cf8b94ed",
          "instanceIdentifier" : "0182100f-98d4-1130-374f-4948c4eb59c3",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3232.0,
            "y" : -488.0
          },
          "properties" : {
            "filename" : "${filename}_${now():toNumber():format('dd_MM_yyyy_hh:mm:ss')}.csv",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 min"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "30523b49-c5c3-34ad-b302-d1e9ef362fcc",
          "instanceIdentifier" : "0182104d-98d4-1130-8d40-913e20d88f42",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -2528.0,
            "y" : -2736.0
          },
          "properties" : {
            "filename" : "${filename:substringBeforeLast('.')}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 min"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "354dd03e-78d1-3913-854d-b505d7200bd8",
          "instanceIdentifier" : "0182102e-98d4-1130-5cbb-d35e92c89f8f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteOnAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 552.0,
            "y" : -1088.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "guala_check" : "${anyMatchingAttribute(\"email.headers.from.*\"):contains(\"gualaclosures.com\"):and(${email.attachment_count:gt(0)})}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "guala_check" : {
              "displayName" : "guala_check",
              "identifiesControllerService" : false,
              "name" : "guala_check",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "valid", "invalid" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "fbe367da-49df-36b9-b0ce-b1b38c64b7fe",
          "instanceIdentifier" : "0182103c-8602-112f-f630-1ba98910c490",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ValidateCsv",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -352.0,
            "y" : 488.0
          },
          "properties" : {
            "validate-csv-eol" : "\\n",
            "validate-csv-delimiter" : ",",
            "validate-csv-header" : "true",
            "validate-csv-quote" : "\"",
            "validate-csv-strategy" : "FlowFile validation"
          },
          "propertyDescriptors" : {
            "validate-csv-schema" : {
              "displayName" : "Schema",
              "identifiesControllerService" : false,
              "name" : "validate-csv-schema",
              "sensitive" : false
            },
            "validate-csv-eol" : {
              "displayName" : "End of line symbols",
              "identifiesControllerService" : false,
              "name" : "validate-csv-eol",
              "sensitive" : false
            },
            "validate-csv-delimiter" : {
              "displayName" : "Delimiter character",
              "identifiesControllerService" : false,
              "name" : "validate-csv-delimiter",
              "sensitive" : false
            },
            "validate-csv-header" : {
              "displayName" : "Header",
              "identifiesControllerService" : false,
              "name" : "validate-csv-header",
              "sensitive" : false
            },
            "validate-csv-quote" : {
              "displayName" : "Quote character",
              "identifiesControllerService" : false,
              "name" : "validate-csv-quote",
              "sensitive" : false
            },
            "validate-csv-strategy" : {
              "displayName" : "Validation strategy",
              "identifiesControllerService" : false,
              "name" : "validate-csv-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ValidateCsv",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "13342a14-f4c3-37ce-b777-2572447a1beb",
          "instanceIdentifier" : "0182104c-98d4-1130-c51d-ea32fa23f15d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 888.0,
            "y" : -1880.0
          },
          "properties" : {
            "filename" : "${email.headers.from.0}_${now():toNumber():format(\"yyyy_MM_dd__HH_mm_ss\", \"Europe/Rome\")}.csv",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 min"
        }, {
          "autoTerminatedRelationships" : [ "set state fail" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "723f9391-310a-344b-aecd-654b712cde3e",
          "instanceIdentifier" : "01821003-8602-112f-2cb0-fbcbd3f324a6",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -2496.0,
            "y" : -168.0
          },
          "properties" : {
            "filename" : "${filename:substringBeforeLast('.')}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 min"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-email-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "299bcd60-994b-3269-bf2c-658fe55fe0c3",
          "instanceIdentifier" : "112c8d45-0182-1000-2897-cec465367ac7",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConsumeIMAP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -784.0,
            "y" : -1096.0
          },
          "properties" : {
            "delete.messages" : "false",
            "folder" : "INBOX",
            "port" : "993",
            "connection.timeout" : "15 sec",
            "host" : "imap-mail.outlook.com",
            "Mark Messages as Read" : "false",
            "user" : "apontini_test_user@outlook.com",
            "Use SSL" : "true",
            "fetch.size" : "20"
          },
          "propertyDescriptors" : {
            "delete.messages" : {
              "displayName" : "Delete Messages",
              "identifiesControllerService" : false,
              "name" : "delete.messages",
              "sensitive" : false
            },
            "password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "password",
              "sensitive" : true
            },
            "folder" : {
              "displayName" : "Folder",
              "identifiesControllerService" : false,
              "name" : "folder",
              "sensitive" : false
            },
            "port" : {
              "displayName" : "Port",
              "identifiesControllerService" : false,
              "name" : "port",
              "sensitive" : false
            },
            "connection.timeout" : {
              "displayName" : "Connection timeout",
              "identifiesControllerService" : false,
              "name" : "connection.timeout",
              "sensitive" : false
            },
            "host" : {
              "displayName" : "Host Name",
              "identifiesControllerService" : false,
              "name" : "host",
              "sensitive" : false
            },
            "Mark Messages as Read" : {
              "displayName" : "Mark Messages as Read",
              "identifiesControllerService" : false,
              "name" : "Mark Messages as Read",
              "sensitive" : false
            },
            "user" : {
              "displayName" : "User Name",
              "identifiesControllerService" : false,
              "name" : "user",
              "sensitive" : false
            },
            "Use SSL" : {
              "displayName" : "Use SSL",
              "identifiesControllerService" : false,
              "name" : "Use SSL",
              "sensitive" : false
            },
            "fetch.size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "fetch.size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.email.ConsumeIMAP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-email-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "d3f838da-39d1-3aa5-954e-c7251bcb94f2",
          "instanceIdentifier" : "1130c418-0182-1000-7a96-498ca1d833f6",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExtractEmailHeaders",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -144.0,
            "y" : -1096.0
          },
          "properties" : {
            "STRICT_ADDRESS_PARSING" : "true",
            "CAPTURED_HEADERS" : "x-mailer"
          },
          "propertyDescriptors" : {
            "STRICT_ADDRESS_PARSING" : {
              "displayName" : "Email Address Parsing",
              "identifiesControllerService" : false,
              "name" : "STRICT_ADDRESS_PARSING",
              "sensitive" : false
            },
            "CAPTURED_HEADERS" : {
              "displayName" : "Additional Header List",
              "identifiesControllerService" : false,
              "name" : "CAPTURED_HEADERS",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.email.ExtractEmailHeaders",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "5fb7a407-3002-39e5-ae02-5deac563851a",
          "instanceIdentifier" : "01821028-8602-112f-1a49-abedfe9d0161",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 120.0,
            "y" : 488.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Permissions" : "777",
            "Directory" : "./ls-target",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 min"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "7c3f37e7-ff5d-39d4-9750-920d08a6bf08",
          "instanceIdentifier" : "01821030-8602-112f-2ec9-0ce90ee6695d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -2472.0,
            "y" : -1264.0
          },
          "properties" : {
            "filename" : "${filename}_${now():toNumber():format('dd_MM_yyyy_hh:mm:ss')}.csv",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 min"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-email-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "b2dd5e7e-b4e9-34f3-b581-4501c3bfc7a1",
          "instanceIdentifier" : "113098d4-0182-1000-a0b5-6e2740f818d2",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExtractEmailAttachments",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -3160.0,
            "y" : -456.0
          },
          "properties" : { },
          "propertyDescriptors" : { },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.email.ExtractEmailAttachments",
          "yieldDuration" : "1 min"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "9d881f45-21a6-3c77-90d0-2c04b2afeeeb",
          "instanceIdentifier" : "0182103c-98d4-1130-d44b-3ef78cd7f804",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutEmail",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2160.0,
            "y" : -1768.0
          },
          "properties" : {
            "SMTP Socket Factory" : "javax.net.ssl.SSLSocketFactory",
            "Message" : "C' stato il tentativo di inviare un file al database non da mail aziendale.",
            "Attach File" : "true",
            "SMTP Port" : "587",
            "SMTP Auth" : "true",
            "From" : "apontini_test_user@outlook.com",
            "Include All Attributes In Message" : "true",
            "SMTP Hostname" : "smtp-mail.outlook.com",
            "Subject" : "ERROR CONTROLLER",
            "SMTP X-Mailer Header" : "NiFi",
            "Content Type" : "text/plain",
            "SMTP Username" : "apontini_test_user@outlook.com",
            "To" : "apontini@gualaclosures.com",
            "email-ff-content-as-message" : "true",
            "SMTP TLS" : "true"
          },
          "propertyDescriptors" : {
            "CC" : {
              "displayName" : "CC",
              "identifiesControllerService" : false,
              "name" : "CC",
              "sensitive" : false
            },
            "SMTP Socket Factory" : {
              "displayName" : "SMTP Socket Factory",
              "identifiesControllerService" : false,
              "name" : "SMTP Socket Factory",
              "sensitive" : false
            },
            "BCC" : {
              "displayName" : "BCC",
              "identifiesControllerService" : false,
              "name" : "BCC",
              "sensitive" : false
            },
            "Message" : {
              "displayName" : "Message",
              "identifiesControllerService" : false,
              "name" : "Message",
              "sensitive" : false
            },
            "Attach File" : {
              "displayName" : "Attach File",
              "identifiesControllerService" : false,
              "name" : "Attach File",
              "sensitive" : false
            },
            "attribute-name-regex" : {
              "displayName" : "Attributes to Send as Headers (Regex)",
              "identifiesControllerService" : false,
              "name" : "attribute-name-regex",
              "sensitive" : false
            },
            "SMTP Port" : {
              "displayName" : "SMTP Port",
              "identifiesControllerService" : false,
              "name" : "SMTP Port",
              "sensitive" : false
            },
            "SMTP Auth" : {
              "displayName" : "SMTP Auth",
              "identifiesControllerService" : false,
              "name" : "SMTP Auth",
              "sensitive" : false
            },
            "From" : {
              "displayName" : "From",
              "identifiesControllerService" : false,
              "name" : "From",
              "sensitive" : false
            },
            "Include All Attributes In Message" : {
              "displayName" : "Include All Attributes In Message",
              "identifiesControllerService" : false,
              "name" : "Include All Attributes In Message",
              "sensitive" : false
            },
            "SMTP Hostname" : {
              "displayName" : "SMTP Hostname",
              "identifiesControllerService" : false,
              "name" : "SMTP Hostname",
              "sensitive" : false
            },
            "Subject" : {
              "displayName" : "Subject",
              "identifiesControllerService" : false,
              "name" : "Subject",
              "sensitive" : false
            },
            "SMTP X-Mailer Header" : {
              "displayName" : "SMTP X-Mailer Header",
              "identifiesControllerService" : false,
              "name" : "SMTP X-Mailer Header",
              "sensitive" : false
            },
            "Content Type" : {
              "displayName" : "Content Type",
              "identifiesControllerService" : false,
              "name" : "Content Type",
              "sensitive" : false
            },
            "SMTP Username" : {
              "displayName" : "SMTP Username",
              "identifiesControllerService" : false,
              "name" : "SMTP Username",
              "sensitive" : false
            },
            "To" : {
              "displayName" : "To",
              "identifiesControllerService" : false,
              "name" : "To",
              "sensitive" : false
            },
            "SMTP Password" : {
              "displayName" : "SMTP Password",
              "identifiesControllerService" : false,
              "name" : "SMTP Password",
              "sensitive" : true
            },
            "email-ff-content-as-message" : {
              "displayName" : "Flow file content as message",
              "identifiesControllerService" : false,
              "name" : "email-ff-content-as-message",
              "sensitive" : false
            },
            "SMTP TLS" : {
              "displayName" : "SMTP STARTTLS",
              "identifiesControllerService" : false,
              "name" : "SMTP TLS",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutEmail",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "fd3c47f8-1a32-3488-a40e-d273a5596b96",
          "instanceIdentifier" : "0182102e-8602-112f-7f6f-cb29a13f1e9a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 136.0,
            "y" : 200.0
          },
          "properties" : {
            "filename" : "${filename}_${now():toNumber():format('dd_MM_yyyy_hh:mm:ss')}.csv",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 min"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "27b55c59-c645-37c1-8868-29bc9762b92d",
          "identifier" : "27ff7403-801d-334d-880d-3c76e987ae29",
          "instanceIdentifier" : "98d41155-1048-1182-d40d-87435c2b12fd",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 888.0,
            "y" : -1520.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "email.headers.from.0" : "${email.headers.from.0:replace(' ', ''):replace('>',''):substringAfterLast('<')}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "email.headers.from.0" : {
              "displayName" : "email.headers.from.0",
              "identifiesControllerService" : false,
              "name" : "email.headers.from.0",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 min"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}